<%- include ../_base/head.ejs %>
<%- include ../_base/css.ejs %>
<%- include ../_base/container.ejs %>
<%- include ../_base/header.ejs %>
    <div class="app-context">

    </div>
<%- include ../_base/javascript.ejs %>
<%- include ../_base/footer.ejs %>