<%- include ../_base/head.ejs %>
<%- include ../_base/css.ejs %>
<%- include ../_base/datatables.css.ejs %>
<link rel="stylesheet" href="/stylesheets/css/web/future.web.css">
<%- include ../_base/container.ejs %>
<%- include ../_base/header.ejs %>
<div class="app-context container-fluid">
    <%- include ./info.ejs%>
</div>
<%- include ../_base/javascript.ejs %>
<%- include ../_base/datatables.js.ejs %>
<script src="/src/future.web.min.js" charset="utf-8"></script>
<%- include ../_base/footer_technology.ejs %>