<%- include ../../_base/head.ejs %>
<%- include ../../_base/css.ejs %>
<link rel="stylesheet" href="/stylesheets/css/web/dianda.web.css">
<link href="https://cdn.bootcss.com/fullPage.js/2.8.1/jquery.fullPage.min.css" rel="stylesheet">
<%- include ../../_base/container.ejs %>
<%- include ../../_base/header.ejs %>
<div class="app-context entry-container">
    <%- include info.ejs %>
</div>
<%- include ../../_base/javascript.ejs %>
<script src="https://cdn.bootcss.com/fullPage.js/2.8.1/jquery.fullPage.min.js"></script>
<script src="/src/dianda/entry.web.min.js" charset="utf-8"></script>
<%- include ../../_base/footer.ejs %>